# This file specifies files that are *not* uploaded to Google Cloud Platform
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point).
#
# For more information, run:
#   $ gcloud topic gcloudignore
#
.gcloudignore
.git
.gitignore
.idea
*.iml

# test files and caches
*_test.py
.pytest_cache/
__pycache__/

# deployment script
deploy2*.sh

# scripts for datastore emulation locally
datastore_scripts/

# python environment
env/
venv/
.env
.venv

# Ignored by the build system
/setup.cfg
.DS_Store
